h1 {
    font-family: 'Tiro Gurmukhi', serif;
    text-shadow: 0 0 10px;
    color: #fff;
}

.container .row:first-child {
    background: url(../images/weather.jpg);
}


.form-search {
    border-bottom: 1px solid black;
}

/* .form-history {
    border: 1px solid red;
} */

.form-ask label {
    font-weight: bold;
}

.form-ask input {
    width: 135px;
    margin-bottom: 10px;
}

#btn-clear {
    text-decoration: none;
}

.today {
    /* border: 1px solid red; */
    text-align: left;
}

.today h2 {
    text-align: center;
    font-weight: bold;
    background-color: aqua;
}

.today li {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 10px;
}

.green {
    background-color: green;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.yellow {
    background-color: yellow;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.orange {
    background-color: orange;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;

}

.red {
    background-color: red;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.violet {
    background-color: violet;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Tiro Gurmukhi', serif;  */